<h1>Wish List</h1>

<ul>
  {{#each wishes}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Wish: {{this.wish}}</p>
       <button data-wishid="{{this.id}}" class="delwish">Delete Plan!</button>
  	</li>
  {{/each}}
</ul>

<h2>Make a Wish</h2>
<form id="createwish" class="button-size">
	<textarea type="text" name="wish"></textarea>

	<button type="submit">Make a wish!</button>
</form>


<h2>Update a Wish</h2>
<form id="updatewish" class="button-size">
  <select name="id">
		{{#each wishes}}
			<option value="{{this.id}}">{{this.wish}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="wish" placeholder="wish"></textarea>
  <button type="submit">Update Wish!</button>
</form>



<script type="text/javascript">
  $(".delwish").on("click", function(event) {
    var id = $(this).data("wishid");

    // Send the DELETE request.
    $.ajax("/wish/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  
  $("#createwish").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newWish = {
      wish: $("#createwish [name=wish]").val().trim()
    };

    // Send the POST request.
    $.ajax("/wish", {
      type: "POST",
      data: newWish
    }).then(
      function() {
        console.log("created new wish");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });


  $("#updatewish").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedWish = {
      wish: $("#updatewish [name=wish]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/wish/" + id, {
      type: "PUT",
      data: updatedWish
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>